name: Build

# This workflow runs on regular PR/push to branches
# and is workflow_call'ed by nightly-unstable-package.yaml
# schedule to build unstable release
# The main purpose of the workflow to determine whether we need
# to use "unstable" release_tag
# The actual job dispatch is done by build-n-test-all-distros.yml

on:
  pull_request:
    branches:
    - master
    - release/*
    - unstable
  push:
    branches:
    - master
    - release/*
    - unstable
  workflow_dispatch:
  workflow_call:

run-name: >-
        ${{ (github.ref_name == 'unstable'
        || github.event_name == 'workflow_dispatch'
        || github.event_name == 'workflow_call'
        || github.event_name == 'schedule')
        && 'Build Unstable'
        || format('Build on {0} to {1}', github.event_name, github.ref_name)
        }}

jobs:
  populate-env-vars:
    runs-on: ["ubuntu-latest"]
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Parse vars
        id: parse
        uses: ./.github/actions/parse-env-file
    outputs:
      BUILD_OS: ${{ steps.parse.outputs.BUILD_OS }}
      TEST_OS: ${{ steps.parse.outputs.TEST_OS }}

  build-n-test:
    uses: ./.github/workflows/build-n-test-all-distros.yml
    needs: populate-env-vars
    with:
      BUILD_OS: ${{ needs.populate-env-vars.outputs.BUILD_OS }}
      TEST_OS: ${{ needs.populate-env-vars.outputs.TEST_OS }}
      # Determine whether we should use special "unstable" release_tag. Assume
      # that for unstable branch and for any external call, dispatch or schedule
      # we are building unstable release. In other cases it's a regular PR/push
      # build without using specific release_tag.
      release_tag: >-
        ${{ (github.ref_name == 'unstable'
        || github.event_name == 'workflow_dispatch'
        || github.event_name == 'workflow_call'
        || github.event_name == 'schedule')
        && 'unstable'
        || ''
        }}

